<div ng-controller="ForumController">
<!-- 	<div class="modal-dialog  modal-lg" style="width: 100%">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">All Forums</h1>
			</div>
			<div class="modal-body">

				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<th>Forum Name</th>
							<th>Forum Content</th>
							<th>Created On</th>
							<th>Status</th>
						</thead>
						<tbody>
							<tr ng-repeat="forum in forumData">
								<td>{{forum.forumName}}</td>
								<td>{{forum.forumContent}}</td>
								<td>{{forum.createdDate}}</td>
								<td>{{forum.status}}</td>
								<td>
									<button type="submit" id="btnShowEditForumForm"
										class="btn btn-default btn-sm btn-info"
										data-toggle="modal"
										data-target="#editForumForm"
										ng-click="editForum(forum.forumId)"
										>
										<span class="glyphicon glyphicon-pencil"></span> Edit
									</button>
									<button type="button" ng-click="deleteForum(forum.forumId)"
										class="btn btn-default btn-sm btn-danger" class="close">
										<span class="glyphicon glyphicon-trash"></span> Delete
									</button>

									<button type="button" class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-comment"></span> Comment
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div> -->

	<div class="col-xs-12" ng-repeat="forum in forumData">
		<div class="well">
			<section>
					<header>
						<section class="pull-right">
							 <p><strong>{{forum.userName}}</strong><br />{{forum.createdDate}}
						</section>
					</header>
					<br>
				</section>
				
				<section>
					<header><h4>{{forum.forumName}}</h4></header>
					<article>
						<p>{{forum.forumContent}}</p>
					</article>
					<footer>
						<button type="button" class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-comment"></span> Comment
						</button>
					</footer>
				</section>
		</div>
	</div>
</div>