html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1 0 auto;
}

.customnavbar {
	background-color: #FFF;
	border-radius: 0px;
	border-bottom: 1px solid black;
}

.navbar-brand {
	margin-top: -15px;
	min-height: 25px;
}

.footer {
	flex-shrink: 0;
	margin-top: auto;
	margin-bottom:0;
}

.footerText {
	color: #000;
}